body {
    background-image: url('./../img/background.png');
    background-attachment: fixed;
}
a {
    text-decoration: none;
    color: #00a1ba;
}
li { margin: 8px 0px; }
p { 
    line-height: 30px;
    font-size: 20px; 
    text-align: justify;
    color: #5e5e5e;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navigation-list {
    background-color: #b5ffcb; 
    width: 40%; 
    font-size: 20px; 
    text-align: center; 
    list-style: inside;
    padding: 20px;
    border: 1px solid #00a1ba;
    border-radius: 20px;
}