body {
    background-color: #05386b;
}

.task-block {
    background-color: aliceblue;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.task-block > h1 {
    color: #05386b;
    font-size: 20px;
    text-decoration: underline;
    font-family: Arial, sans-serif;
    font-weight: bolder;
}

.task-body {
    background-color: transparent;
    border: 3px solid #05386b;
    border-radius: 10px;
    padding: 10px;
}
.task-body a {
    text-decoration: none;
    color: cornflowerblue;
    margin: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}